{% extends "Tracker/base.html" %}
{% load static %}
{% block content %}
    <article class="media content-section">
        <div class="media-body">
            <!-- <div class="article-metadata">
                <a class="mr-2" href="#">aa</a>
                <small class="text-muted">aa</small>
            </div> -->
            <div>
                <h1><a class="article-title" href="#">What do you want to add in your fridge?</a></h1>
                <img src="{% static 'Tracker/images/micImage.png'%}" alt="Italian Trulli" class="recordImage">
            </div>
            
            <!-- <p class="article-content">{{ post.content }}</p> -->
        </div>
    </article>
{% endblock %}